.App {
  height: 100vh;
}
.product-card {
  position: relative;
}
.product-card img {
  width: 200px;
  height: 250px;
  margin: auto;
}
.favorite-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  fill: lightgray;
}
.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.nav-item {
  color: white;
  margin-right: 10px;
  cursor: pointer;
}
.nav-item a {
  color: white;
}
.nav-item a:hover {
  color: white;
}
